<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GreenStock</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/Products.css" />
    <link rel="stylesheet" href="~/css/productCreate.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/category.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <div class="d-flex" id="wrapper">
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">
                <img src="https://images-ext-1.discordapp.net/external/zzfHnMN389kh3kIK3U-k4SAuuzwwN8NrDZ5unyhMbSw/https/raw.githubusercontent.com/FashionStack/DataBase/main/GreenStock.png?width=240&height=90" class="img-fluid" alt="Logo GreenStock">
            </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-4" asp-page="/Index"><span class="material-icons">dashboard</span>Dashboard</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-4" asp-page="/ProductPages/Index"><span class="material-icons">local_offer</span>Produtos</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-4" asp-page="/ProductPages/Create"><span class="material-icons">add_box</span>Novo Produto</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-4" asp-page="/CategoryPages/Index"><span class="material-icons">category</span>Categorias</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-4" asp-page="/Privacy">FashionStack</a>
            </div>
        </div>

        <div id="page-content-wrapper">
            <nav class="navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" class="navbar-toggler" id="sidebarToggle"><span class="navbar-toggler-icon"></span></button>
                </div>
            </nav>

            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>