<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GreenStock</title>
    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/category.css" />
    <link rel="stylesheet" href="~/css/Products.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- JS Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <!-- Sidebar Menu -->
    <div class="d-flex" id="wrapper">
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">
                <img src="https://images-ext-1.discordapp.net/external/zzfHnMN389kh3kIK3U-k4SAuuzwwN8NrDZ5unyhMbSw/https/raw.githubusercontent.com/FashionStack/DataBase/main/GreenStock.png?width=240&height=90" class="img-fluid" alt="Logo GreenStock">
            </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-4" asp-page="/Index"><span class="material-icons">dashboard</span>Dashboard</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-4" asp-page="/ProductPages/Index"><span class="material-icons">local_offer</span>Produtos</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-4" asp-page="/ProductPages/Create"><span class="material-icons">add_box</span>Novo Produto</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-4" asp-page="/CategoryPages/Index"><span class="material-icons">category</span>Categorias</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-4" asp-page="/Privacy">FashionStack</a>
            </div>
        </div>

        <div id="page-content-wrapper">
            <nav class="navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" class="navbar-toggler" id="sidebarToggle"><span class="navbar-toggler-icon"></span></button>
                </div>
            </nav>

            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>