<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <div class="logo">
            <img src="Frame_3.png" class="" alt="">
        </div>
    </header>
    <div class="sidebar">
        <a href="index.html"><span class="material-icons">space_dashboard</span>Dashboard</a>
        <a href="produtos.html"><span class="material-icons">local_offer</span>Produtos</a>
        <a href="cadastros.html"><span class="material-icons">add_box</span>Cadastrar</a>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
