@page
@model GreenMVC.Pages.ProductPages.CreateModel

@{
    ViewData["Title"] = "Create";
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<h1 class="text-center">Adicionar novo produto</h1>
<hr />

<form method="post">
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="nome" class="control-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="Nome" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="poderes" class="control-label">Categoria</label>
                <input type="text" class="form-control" id="categoryId" name="Categoria" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="peso" class="control-label">Tamanho</label>
                <input type="text" class="form-control" id="size" name="Tamanho" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="altura" class="control-label">SKU</label>
                <input type="text" class="form-control" id="sku" name="SKU" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="tipo" class="control-label">REF</label>
                <input type="text" class="form-control" id="ReferenceCode" name="REF" />
            </div>
        </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="image" class="control-label">Imagem</label>
                    <input type="text" class="form-control" id="imageUrl" name="Imagem do produto" />
                </div>
            </div>
        </div>
</form>