@page
@model GreenMVC.Pages.CategoryPages.CreateModel

@{
    ViewData["Title"] = "Adicionar Categoria";
}

<div class="title-pages">
    @ViewData["title"]
</div>
<div class="row">
    <div class="col-md-6">
        <div class="category-create">
            <form method="post">
                <div class="form-group">
                    <label for="name" class="control-label">Nome </label>
                    <input type="text" class="form-control" id="name" name="name" maxlength="100" required>
                </div>
                <div>
                    <div class="generic-btn-box">
                        <a class="btn btn-generic m-0"
                           asp-page="./Index"><span class="material-icons">arrow_back</span>
                                              <span class="back">Voltar</span></a>
                        <button class="btn-save m-0" type="submit" aria-label="salvar"><span class="material-icons">save</span>Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
