@page
@model GreenMVC.Pages.CategoryPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<h1> Remover Categoria </h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="category-create">
                <div class="form-group">
                    <h3>@Html.DisplayNameFor(model => model.Category.Name)</h3>
                    <h3 class="linha-form" style="font-size:16px;height:10px;margin:16px;">@Html.DisplayFor(model => model.Category.Name)</h3>
                </div>
                <div>
                    <div class="generic-btn-box"  style="align-items:center;">
                        <a class="btn btn-generic m-0"
                           asp-page="./Index">
                            <span class="material-icons">arrow_back</span>
                            <span class="back">Voltar</span>
                        </a>


                        <form method="post">
                            <input type="hidden" asp-for="Category.CategoryId" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>