@page
@model GreenMVC.Pages.CategoryPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2 id="top-name">Deletar Categoria</h2>
<div class="row justify-content-md-center line-category">
    <div class="col col-lg-4">
        
        <h3 class="name-line"> @Html.DisplayNameFor(model => model.Category.Name)</h3>
       
    </div>
    <div class="col col-lg-6">
        <h3>@Html.DisplayFor(model => model.Category.Name)</h3>
    </div> 
    <div class="col col-lg-2">

        <form class="f-dl" method="post" onclick="return confirm('Deseja deletar este item ? ');">
            <button type="submit" value="Delete" class="btn btn-danger bt-dl"/>
            <span class="material-icons">delete</span>Deletar
            <input type="hidden" asp-for="Category.CategoryId" />
        </form>


    </div>
</div>
<div class="bt-back1">
<a type="button" class="btn-save bt-add" asp-page="./Index" style="text-decoration-line:none">
    <span class="material-icons">backspace</span>Cancelar
    
</a>
</div>