@page
@model GreenMVC.Pages.CategoryPages.IndexModel

@{
    ViewData["Title"] = "Index";
}
   
<div class="title-page">
    <h3 class="display-4">Categorias</h3>
</div>
   
    <div id="principal">
       
        <div class="bt-add">
            <a class="btn-save btn-add"
               asp-page="./Create"><span class="material-icons">add_circle</span>Adicionar</a>
        </div>
        <ul class="tab1">
            @foreach (var item in Model.Category)
            {
                <li class="item1" style="font-family:'Roboto';" aria-label="Descrição">
                    <p style="font-family:'Roboto'" aria-label=" @Html.DisplayNameFor(model => model.Category[0].Name)">@Html.DisplayFor(modelItem => item.Name)</p>

                    <div id="delete">
                        <a class="btn-save bt-dl"
                            asp-page="./Delete" asp-route-id="@item.CategoryId">
                            <span class="material-icons">
                                delete
                            </span>Deletar
                        </a>

                    </div>
                </li>
            }
        </ul>

    </div>
   

