formulario
{
    grid-area: fm;
    border-radius: 15px 15px 15px 15px;
    background: white;
    padding: 20px;
    margin: 1% 1% 1% 1%;
    line-height: 25px;
    justify-self: auto;
}

.product-img
{
    grid-area: ig;
    border-radius: 15px 15px 15px 15px;
    background: white;
}

.save 
{
    background-color: #45B63B;
    border: none;
    border-radius: 5px;
    color: white;
    height: 30px;
    line-height: 30px;
    width: 90px;
    cursor: pointer;
    display: flex;
    justify-self: auto;
    align-items: center;
    margin-left: auto;
    margin-top: 1em;
}

#listbox1 {
    width: 325px;
    height: 38px;
    border-radius: 3px;
    margin-left: 0em;
    overflow: hidden;
    background: url(nova_setinha.jpg) no-repeat right white;
    border: 1px solid #ccc;
}

.switch {
    font-size: 1rem;
    position: relative;
}

input.switch {
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*#Sustentable-clothe {
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    border-radius: calc(2.375rem * 0.8);
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: calc(2.375rem * 0.8);
    line-height: calc(2.375rem * 0.8);
    min-width: calc(calc(2.375rem * 0.8) * 2);
    outline: none;
    position: relative;
    text-indent: calc(calc(#{calc(2.375rem * 0.8)} * 2) + .75rem);
    text-transform: capitalize;
    user-select: none;
    vertical-align: middle;
}

/*+ label::before,
+ label::after {
    bottom: 0;
    display: block;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: calc(#{calc(2.375rem * 0.8)} * 2);
}

+ label::before {
    background-color: #95989A;
    border-radius: calc(2.375rem * 0.8);
    right: 0;
    transition: .2s all;
}

+ label::after {
    background-color: #FFFFFF;
    border-radius: 50%;
    height: calc(#{calc(2.375rem * 0.8)} - calc(#{$switch-thumb-padding} * 2));
    left: 2px;
    top: 2px;
    transition: .2s all;
    width: calc(#{calc(2.375rem * 0.8)} - calc(#{$switch-thumb-padding} * 2));
}

&:checked + label::before {
    background-color: #76B82B;
}

&:checked + label::after {
    margin-left: calc(2.375rem * 0.8);
}

&:focus + label::before {
    box-shadow: 0 0 0 0.2rem #76B82B;
    outline: none;
}

&:disabled + label {
    cursor: not-allowed;
    color: darkred;
}

    &:disabled + label::before {
        background-color: #C5C5C7;
    }
}