@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="title-page">
    <h3 class="display-4">@ViewData["Title"]</h3>
</div>

<p>Use this page to detail your site's privacy policy.</p>
